[Unit]
Description=ArtMQ Broker
After=network.target

[Service]
ExecStart=/usr/bin/artmq
Restart=always
User=nobody

[Install]
WantedBy=multi-user.target
